h1,
body,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  color: red;
}

main {
  max-width: 720px;
  width: 100%;
  border: 2.5px solid violet;
  border-radius: 2.5px;
  box-shadow: 0 10px 20px rgba(17, 17, 17, 0.125),
    0 5px 5px rgba(17, 17, 17, 0.25);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1 {
  padding: 1rem;
  color:  violet pink;
}

input,
button {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 1rem;
}

input {
  box-sizing: border-box;
  width: 100%;
}

.buttons {
  display: flex;
}

button {
  cursor: pointer;
  flex: 1;
  background-color: transparent;
  color: white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

section {
  min-height: 120px;
  text-align: center;
  background-color: white;
}
