body {
  width: 90%;
  margin: 0 auto;
  background-color: lightgrey;
}
#wrapper {
  background-color: white;
}
h1 {
  margin: 1% 0%;
  padding: .25em;
  background-color: #efefef;
}
ul {
  text-align: center;
}
h1, p {
  text-align: center;
}
#content {
  overflow: auto;
}
#nav, #feature, #footer {
  margin: 1% 0%;
}
